*{
    margin: 0px;
    padding: 0px;
    background-color :#fcf0f0;
    text-align: center;
}

h1{
    background-color:#29335C;
    color: white;
    height: 5rem;
    line-height: 5rem;
    
}
.option {
    height: 250px;
    width: 250px;
    margin: 80px;    
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option:hover img {
    opacity: 0.5;
    cursor: pointer;
    
}
.option:hover {
    border: 6px solid black;
}
img{
     height: 250px;
     width: 250px;
     object-fit: cover;
     border-radius: 40%;
     background-color: black;
}
.options{
    display: flex;
    padding: 5rem;
    justify-content: center;  
}
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
    margin-bottom: 50px;
}
#user-score,#computer-score {
    font-size: 3rem;
}
.msg-container{
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #F3A712;
    display: inline;
    border-radius: 10%;
    padding: 0.5rem; 
}
.message {
    background-color: #F3A712;
    display: inline;
    border-radius: 10%;
    padding: 0.5rem;
}

